<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form class="site-form" action="{% url 'accounts:login'%}" method="post">
      
      {% csrf_token %} {{form}} 
      
      <!-- redirect to the page request after login -->
      
      {% if request.GET.next %}
      <input type="hidden" name="next" value="{{request.GET.next}}" />
      {% endif %}
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
