<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body>
    <form class="site-form" action="/accounts/signup/" method="post">
      {% csrf_token %} {{form}} {%for form in registrationform%}
      <div class="input-group">
        <form role="form" class="form-django" id="{{field.username}}">
          username
        </form>
        {%endfor%}
      </div>
      <input type="submit" value="Signup" />
    </form>
  </body>
</html>
