{%extends 'base/base.html'%}{%block content%} {%load static%}

<title>
  {%block title%}VivaroDealer &mdash; Online Shopping | Courses | Exam
  {%endblock%}
</title>

<div class="site-blocks-cover" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto order-md-2 align-self-start">
        <div class="site-block-cover-content">
          <h2 class="sub-title">#New Dealer Collection 2020</h2>
          <h1>Arrivals Sales</h1>
          <p><a href="#" class="btn btn-black rounded-0">Shop Now</a></p>
        </div>
      </div>
      <div class="col-md-6 order-1 align-self-end">
        <img
          src="{% static 'images/model_3.png'%}"
          alt="Image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>

<!-- items category  -->

<div class="site-section">
  <div class="container">
    <div class="title-section mb-5">
      <h2 class="text-uppercase">
        <span class="d-block">Discover</span> The Collections
      </h2>
    </div>
    <div class="row align-items-stretch">
      <div class="col-lg-8">
        <div class="product-item sm-height bg-gray mb-4">
          <a href="#" class="product-category"
            >Clothes and Uniforms<span>120 items</span></a
          >
          <img
            src="{% static 'images/FModel1.png'%}"
            alt="Image"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="product-item sm-height bg-gray mb-4">
          <a href="#" class="product-category"
            >Jewelry & Watches<span>25 items</span></a
          >
          <img
            src="{% static 'images/model_2.png'%}"
            alt="Image"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="product-item sm-height bg-gray mb-4">
          <a href="#" class="product-category"
            >Phones & Accessories<span>1508 items</span></a
          >
          <img
            src="{% static 'images/model_3.png'%}"
            alt="Image"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="product-item sm-height bg-gray mb-4">
          <a href="#" class="product-category"
            >Bags & Shoes<span>2235 items</span></a
          >
          <img
            src="{% static 'images/model_6.png'%}"
            alt="Image"
            class="img-fluid"
          />
        </div>
      </div>
 
      <div class="col-lg-4">
        <div class="product-item sm-height bg-gray mb-4">
          <a href="#" class="product-category"
            >Beauty & Health, Hair<span>25 items</span></a
          >
          <img
            src="{% static 'images/model_5.png'%}"
            alt="Image"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- items category  -->
<!--advertise place -->

<div class="site-blocks-cover inner-page py-5" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto order-md-2 align-self-start">
        <div class="site-block-cover-content">
          <h2 class="sub-title">#New Luxury Comfortable Places Collection 2020</h2>
          <h1>Apartement</h1>
          <p><a href="#" class="btn btn-black rounded-0">Visit Now</a></p>
        </div>
      </div>
      <div class="col-md-6 order-1 align-self-end">
        <img
          src="{% static 'images/model_2.png'%}"
          alt="Image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
<!--advertise place -->
<!-- section apartement -->
<div class="site-section">
  <div class="container">
    <div class="title-section mb-5">
      <h2 class="text-uppercase">
        <span class="d-block">Found</span> Permium Apartements
      </h2>
    </div>
    <div class="row align-items-stretch">
      <div class="col-lg-8">
        <div class="product-item sm-height bg-gray mb-4">
          <a href="#" class="product-category"
            >Apartement & Houses<span>120 items</span></a
          >
          <img
            src="{% static 'images/model_1.png'%}"
            alt="Image"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="product-item sm-height bg-gray mb-4">
          <a href="#" class="product-category"
            >Home Applicant<span>112 items</span></a
          >
          <img
            src="{% static 'images/model_2.png'%}"
            alt="Image"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- section apartement -->

  <!-- Items show in Index page -->

  <div class="site-blocks-cover inner-page py-5" data-aos="fade">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto order-md-2 align-self-start">
          <div class="site-block-cover-content">
            <h2 class="sub-title">#We Offer The best services you Needs</h2>
            <h1>
            <p><a href="#" class="btn btn-black rounded-0">Eams</a>
            <a href="#" class="btn btn-black rounded-0">Courses</a>
            <a href="#" class="btn btn-black rounded-0">Translation</a></p></h1>
          </div>
          <div class="product-item sm-height bg-gray mb-4">
            <a href="#" class="product-category"
              >Extra Shift for Sale <span>New</span></a
            >
          </div>
        </div>
        <div class="col-md-6 order-1 align-self-end">
          <img
            src="{% static 'images/model_6.png'%}"
            alt="Image"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
